:root {
    --couleur-primaire: #fcbacb;
    --underline-max-width: 100%;
    --underline-hover-width: 0;
    --underline-idle-width: var(--underline-max-width);
    --underline-x: calc(var(--underline-max-width) * 0);
    --underline-img: linear-gradient(0deg, currentColor, currentColor);
    --external-link-content: ""; #fcbacb


body {
background-image : linear-gradient(135deg, #87e0fd 0%, #bdb7ed 40%, #ea80c0 100%);
}